* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #ddd;
}

.logo {
  font-size: 2.5rem;
  color: black;
  font-weight: 600;
  cursor: default;
  text-decoration: none;
}

.logo:hover {
  color: blueviolet;
}

.navbar a {
  font-size: 1.7rem;
  color: black;
  margin-left: 4rem;
  transition: 0.3s;
  text-decoration: none;
}

.navbar a:hover {
  color: #1e21ec;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.axion-content {
  text-align: center;
}

.img-home img {
  background-position: center;
  justify-content: center;
  transition: 0.5s ease;
}

.img-home img:hover {
  transform: scale(1.05);
  border-color: blueviolet;
}

.about-content h1 {
  text-align: center;
  margin-bottom: 20px;
}

.about-content h3 {
  text-align: center;
  margin-bottom: 10px;
}

.about-content p {
  font-size: 1.6rem;
  text-align: center;
}

.about-content h4 {
  text-align: center;
  margin-bottom: 40px;
}

.about-content h2 {
  text-align: center;
}

.customerservices h1 {
  text-align: center;
  margin-bottom: 20px;
}

.cs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.cs-container .cs-box {
  flex: 1 1 20rem;
  padding: 3rem 2rem 4rem;
  background: rgb(233, 198, 247);
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid rgb(160, 208, 240);
  transition: 0.5s ease;
}

.cs-box i {
  font-size: 5rem;
  color: black;
}

.cs-box h3 {
  font-size: 2rem;
}

.cs-box p {
  font-size: 1.3rem;
}

.cs-container .cs-box:hover {
  border-color: #9d9eff;
  transform: scale(1.02);
}

.product h1 {
  text-align: center;
  margin-bottom: 30px;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.product-container .card:hover {
  transform: scale(1.02);
  background: #e48af0;
}

.product-container .card {
  border-radius: 20%;
  transition: 0.5s ease;
}

.product-container .card .card-body .card-text {
  text-align: center;
  font-size: medium;
}

.product-container .card .card-body p {
  text-align: center;
}

.storelocation h1 {
  text-align: center;
  margin-bottom: 30px;
}

.serlok-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.serlok-container .serlok-box {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
}

.serlok-box img {
  width: 100%;
  transition: 0.5s ease;
}

.serlok-box:hover img {
  transform: scale(1.1);
}

.serlok-box .serlok-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(131, 208, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(-100%);
  transition: 0.5s ease;
}

.serlok-box:hover .serlok-layer {
  transform: translateY(0);
}

.serlok-layer h4 {
  font-size: 3rem;
}

.serlok-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.contact h1 {
  margin-bottom: 3rem;
  text-align: center;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: black;
  background: #aacaf8;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn btn-outline-primary {
  margin-top: 2rem;
  cursor: pointer;
  size: 60px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: #ddd;
  text-align: center;
}

.footer-text p {
  font-size: 1.6rem;
  text-align: center;
}

/*BREAKPOINTS*/

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  .section {
    padding: 10rem 3% 2rem;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 618px) {
  .axion-content .img-home {
    object-fit: cover;
  }

  .serlok-container {
    grid-template-columns: 1fr;
  }

  .cs-container .cs-box h3 {
    font-size: medium;
  }
}
